.BecomeMemberPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    gap: 10px;
}

.BecomeMemberPageContainer > p {
    margin-top: 20px;
    width: 50vw;
}

.BecomeMemberPageContainer > form {
    margin-top: 20px;
    width: 50vw;
}

.BecomeMemberPageContainer > form > button {
    width: 250px;
}

.BecomeMemberPageContainer > form > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1000px) {
    .BecomeMemberPageContainer > p {
        width: 80vw;
    }

    .BecomeMemberPageContainer > form {
        width: 80vw;
    }
}