.Tooltip {
    z-index: 2;
}

.Tooltip[data-tool-tip] {
    position: relative;
}

.Tooltip[data-tool-tip]:hover::before {
    visibility: visible;
    opacity: 1;
}

.Tooltip[data-tool-tip]::before {
    text-align: center;
    content: attr(data-tool-tip);
    visibility: hidden;
    opacity: 0;
    min-width: 100%;
    width: max-content;
    height: max-content;
    max-width: 250px;
    position: absolute;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 4px 8px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity ease-out 150ms, bottom ease-out 150ms;
}

.Tooltip[data-position="top"]::before {
    bottom: 100%;
}

.Tooltip[data-position="right"]::before {
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.Tooltip[data-position="bottom"]::before {
    top: 100%;
}

.Tooltip[data-position="left"]::before {
    right: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.Tooltip[data-position="bottom-left"]::before {
    right: 0;
    top: 60px;
    bottom: 0;
    margin: auto 0;
}